<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Cadastro de chamado</h2>
            </div>
            <div class="p-2">
                <a href="/admin/cat-chamados">
                    <button class="btn btn-outline-info btn-sm">
                        Listar
                    </button>
                </a>
            </div>
        </div>
        {{>_msg}}
        <hr>
        <form action="/admin/add-chamado" method="POST">
            <div class="form-row">
                <div class="form-group col-md-5">
                    <label>Categoria do chamado</label>
                    <select name="catchamados" id="catchamados" class="form-control">
                        {{#each catchamados}}
                        <option value="{{_id}}">{{nome}}</option>
                        {{else}}
                        <option value="">Nenhuma categoria de chamado encontrada</option>
                        {{/each }}
                    </select>
                </div>

            </div>
<!--
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span>N do chamado</label>
                    <input name="numero" type="text" class="form-control" id="numero" placeholder="Número do chamado">
                </div>
            </div> -->

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Assunto</label>
                    <input name="assunto" type="text" class="form-control" id="assunto"
                        placeholder="Informe o assunto do chamado">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label><span class="text-danger">*</span> Descrição</label>

                    <textarea name="descricao" class="form-control" id="descricao"
                        placeholder="Informe a descrição do chamado" required></textarea>
                </div>
            </div>

            <p>
                <span class="text-danger">* </span>Campo obrigatório
            </p>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </form>
    </div>
</div>